<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amit Test Suite" parallel="classes" thread-count="1" preserve-order="true">
    <test name="GetTest">
        <classes>
            <class name="com.Test2.Tests.GetTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->